
$colorA: #D02310
$colorB: #3E9BC3

$color_text: #333

$color_link: #961604
$color_link_border: #C49B8F
$color_link_background: #fff
$color_link_hover: #fff
$color_link_hover_background: #D02310
$color_link_visited: #9A6C57
$color_link_visited_border: #D6CCC9
$color_link_visited_background: #EFF2F2

