
$colorA: #D02310
$colorB: #3E9BC3

$color_text: #000

$color_link: #000
$color_link_border: #B1DBE1
$color_link_background: #D6F6FC
$color_link_hover: #000
$color_link_hover_background: #63CBFE
$color_link_visited_border: #eee
$color_link_visited_background: #EFF2F2

