
$colorA: #D02310
$colorB: #3E9BC3
$colorB1: #66CCFE
$colorB2: #0F7EB2
$colorC: #1785CB

$color_text: #333
$color_text_darker: #000
$color_text_lighter: #666

$color_link: #961604
$color_link_border: #C49B8F
$color_link_hover: #fff
$color_link_hover_background: #D02310
$color_link_visited: #927B78
$color_link_visited_border: #C3B8B7

// development aids
$indicator: rgba(137,223,248,0.1)
