
.nav
	margin: 0
	padding: 0

.nav > li
	float: left
	list-style: none
	margin: 0 0.2em 0.25em 0
	display: inline-block

.nav > li > a
	border: none
	color: $color_text
	padding: 3px 0.5em
	
.nav > li > a:hover
	background: $colorA
	color: #fff
	
.nav > li > .login
	font-style: italic
	color: $colorA
	
#mobile_nav 
	& > ul 
		@include clearfix
		margin: 3em 0 2em 0
		border-top: 1px solid #ccc
		& > li
			display: block
			margin: 0
			width: 100%
			clear: both
			border-bottom: 1px solid #ccc
		a
			display: block
			padding: 0.75em 0 0.75em 2.5em
			margin: 0

#mobile_jump
	width: 100%
	text-align: right
	a
		border: none
		color: $color_text
#menu-icon
	position: relative
	top: 2px