
.nav
	margin: 0
	padding: 0

.nav > li
	float: left
	list-style: none
	margin: 0 0.2em 0.25em 0
	display: inline-block

.nav > li > a
	border: none
	color: $color_text
	padding: 3px 0.5em
	
.nav > li > a:hover
	background: $colorA
	color: #fff
	
.nav > li > .login
	font-style: italic
	color: $colorA